
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Satış Yap
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yapma Ekranı</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>Ürün Adı</label>
                    <input type="text" name="Urun" class="form-control" />
                    <br />
                    <label>Ürün Markası</label>
                    <input type="text" name="marka" class="form-control" />
                    <br />
                    <label>Müşteri Adı Soyadı</label>
                    <input type="text" name="musteri" class="form-control" />
                    <br />
                    <label>Müşteri Telefonu</label>
                    <input type="text" name="telefon" class="form-control" />
                    <br />
                    <button class="btn btn-info">Verileri Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
